<h1> Send in your user info here: </h1>

<form style= "background-color: black; color: blue; padding-left: 5%; "method= "POST" action="/"><br><br><br>
  First Name: <input name="fname"><br><br><br>
  Last Name: <input name="lname"><br><br><br>
  Email: <input name="email"><br><br><br>
  Avatar Pic URL: <input name="picurl"><br><br><br>
  Birthday: <input name="bday"><br><br><br>
  <input type="submit"><br><br><br>
  </form>